API_ID=10605524
API_HASH=a4ccc51331a895285a4c57ce10d49f95
BOT_TOKEN=5417045129:AAEDfArHXQ8CFQp-UVF5com9IIqrSui5hHs
MONGO_DB_URI=mongodb+srv://Musicirsan:Vanostra@cluster0.hwxx8.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001840094518
MUSIC_BOT_NAME=hiroshi robot 
STRING_SESSION=BQCwPEz-DDnR8uFiwUoVavVVyLmTNINZpuiF0evYtTM6LU47YW8P5r310K22MR7AYXsyJ6WT25Vz0aoEnKWaP8v7kxIrrcpAk3DIQew8G11QLOEPrxBvaj6dvDwB_ivqStUcyfiMP4e223njQEjnNpegp4jmGgyVLJ4xuVV2CfOnTXMLj_dIPk6lPoojCnT4WQ1q40CFVWJufsInpOHVhvbHr0elCalXrjMuXeOBGk9LDtPYnDndwDe2ajGPmOrEmw-ymW7nGdT49kvPZ2KkSy558CiyNgO7lLo2EeO7c2ZyZBFPEXU6PVKGfijrsr8i4zZAuXutd4pgRKKx4qeH7wKacrw62gA
AUTO_LEAVING_ASSISTANT=True
GIT_TOKEN=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
UPSTREAM_REPO=https://github.com/Neehh/HiroshiMusic-Yukki
UPSTREAM_BRANCH=master
